* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 2rem auto;
    background-color: rgb(250, 189, 199, 0.4);
}

#container {
    background: repeating-linear-gradient(-45deg, #4040ffd9 25%, rgb(250, 189, 199, 0.4) 75%, #4040ffd9 100% );
    padding: 1rem 2rem;
    width: 25rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

#title {
    text-align: center;
}

#description {
    text-align: center;
    margin-bottom: 2.5rem;
}

#name {
    width: 100%;
    height: 1.5rem;
    border: 0px;
    border-radius: 0.5rem;
    padding-left: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

#name:focus {
    background-color: rgb(228, 228, 255);
    border: 0px solid rgb(252, 245, 245);
}

#email {
    width: 100%;
    height: 1.5rem;
    border: 0px;
    border-radius: 0.5rem;
    padding-left: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

#email:focus {
    background-color: rgb(228, 228, 255);
    border: 0px solid rgb(252, 245, 245);
}

#number {
    width: 100%;
    height: 1.5rem;
    border: 0px;
    border-radius: 0.5rem;
    padding-left: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 3rem;
}

#number:focus {
    background-color: rgb(228, 228, 255);
    border: 0px solid rgb(252, 245, 245);
}

#dropdown {
    width: 100%;
    height: 1.5rem;
    border: 0px;
    border-radius: 0.5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}


#dropdown:focus {
    background-color: rgb(228, 228, 255);
    border: 0px solid rgb(252, 245, 245);
}

.radio {
    border: 0px;
    margin-bottom: 1rem;
}

.radio legend {
    text-align: center;
    margin-bottom: 0.5rem;
}

.radio input {
    margin-bottom: 1rem;
}

.checkbox {
    margin-bottom: 1.5rem;
    border: 0px;
}

.checkbox legend {
    text-align: center;
    margin-bottom: 0.5rem;
}

.checkbox input {
    margin-bottom: 1rem;
    border: 0px;
}

#comment {
    width: 100%;
    height: 10rem;
    border: 0px;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

#submit {
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 0.3rem 0;
    color: white;
    width: 100%;
    border: 0px;
    border-radius: 0.7rem;
    background: linear-gradient(45deg, rgb(250, 215, 221), #4040ffd9);
}

@media (max-width: 500px) {
    body {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 700px) {
    #container {
        width: 35rem;
    }
}


